.container{
    flex-direction: column;

.footer{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    .konato{
        width: 19%;
    }
    .part1{
        // padding: 40px;
        p{
            color: gray;
        }
    }
    .navigation{
        h4{
            // margin-left: 20px;
            font-size: 15px;
            border-bottom: 2px solid #1089ff;
        }
        li{
            list-style: none;
            margin-top: 20px;
            color:#1089ff;

        }
    }
    .services{
        h4{
            // margin-left: 20px;
            font-size: 15px;
            border-bottom: 2px solid #1089ff;
        }
        li{
            list-style: none;
            margin-top: 20px;
            color:#1089ff;

        }
    }
    .support{
       
        h4{
            // margin-left: 20px;
            font-size: 15px;
            border-bottom: 2px solid #1089ff;
        }
        li{
            list-style: none;
            margin-top: 20px;
            color: #1089ff;

        }
    }
    .contact{
        
        h4{
            // margin-left: 20px;
            font-size: 15px;
            border-bottom: 2px solid #1089ff;
        }   
        li{
            list-style: none;
            margin-top: 20px;
            color:#1089ff;

        }
    }

}
.copyright{
    margin-bottom: 49px;
    p{
        text-align: center;
        margin-top: 100px;
    }
    i{
     color: #00AEFF;
    }
    span{
        color: #00AEFF;
    }

}
}