.container{
    height: 400px;
    width: 800px;
    border: 5px solid rgb(217, 217, 10);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box{
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center; 
}
    .box1{
    background-color: rgb(43, 189, 162);
   width: 400px;
} 
.box2{
    background-color: rgb(62, 76, 139);
    width: 400px;
}
.box3{
    background-color: rgb(111, 57, 192);
    width: 400px;
}
.box4{
    background-color: rgb(31, 73, 57);
    width: 400px;
}
.box5{
    background-color: rgb(206, 206, 29);
    height: 200px;
    width: 400px; ;
}
.box6
   { background-color: rgb(139, 94, 38);
     height:200px ;
    width: 400px; ;
    
}